## Question 1##
Consider the following Python module: After importing the module into the interpreter, you execute:?
What value is displayed when the last expression (a) is evaluated? Explain your##
##answer by indicating what happens in every executed statement.##

In [7]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [8]:
b()
b()
b()
a

6

Explanation: The result is 6, because an addition of 2 took place. 'a' initially starts as 0 and temporarily got substituted by 'b' and then 'c' while adding 2 with each new line and overwriting 'a' with the new result.

## Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [1]:
def fileLength(filename):
        try:
                f=open(filename,'r')
                data=f.readlines()
                line=""
                for i in data:
                        line+=i
                result=len(line)
                return result
        except FileNotFoundError:
                return ("File {} not found.".format(filename))

In [2]:
fileLength('midterm.py')

'File midterm.py not found.'

In [3]:
fileLength('idterm.py')

'File idterm.py not found.'

# Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [4]:
#create a class Marsupial and define the functions for the activities
class Marsupial:
    def __init__(self):
        self.pouch=[]
    def put_in_pouch(self, item):
        self.pouch.append(item)
    def pouch_contents(self):
        return self.pouch
#create a class Kangaroo and set it to inherit the attributes of Marsupial class and define the functions for the activities for coordinates
class Kangaroo(Marsupial):
    def __init__(self, x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
    def jump(self, dx, dy):
        self.x+=dx
        self.x+=dy
    def __str__(self):
        return "I am a Kanagroo located at coordinates ("+str(self.x)+","+str(self.y)+")"
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kanagroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kanagroo located at coordinates (3,0)

# Question 4

In [5]:
def collatz(x):
    print(x)
    while x != 1:
        if x % 2 == 1:
            x = 3 * x + 1
        else:
            x = x / 2
        print(int(x))  
    
print("collatz of 1: ")
collatz(1)
print("collatz of 10: ")
collatz(10)

collatz of 1:
1
collatz of 10:
10
5
16
8
4
2
1

# Question 5

In [6]:
# Question 5: Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

def binary(n):
    if n == 0:
        return 0 
    else:
        return (n % 2 + 10 * binary(int(n // 2))) #Print out the binary numbers of Integer n

binary(0)

0

In [7]:
binary(1)

1

In [9]:
binary(3)

11

In [10]:
binary(9)

1001

# Question 6

In [11]:
#import HTMLParser
from html.parser import HTMLParser

#create the class HeadingParser to parse HTML docs, define functions for each activity within the parser and add indentation
class HeadingParser(HTMLParser):
    headers = ['h1', 'h2', 'h3', 'h4']
    def handle_data(self, data, indent=" "):
        print(f"{indent}{data}")

In [12]:
infile = open('w3c.html')

In [14]:
content = infile.read()

In [15]:
infile.close()

In [16]:
hp = HeadingParser()

In [17]:
hp.feed(content)

 Change_me














 W3C Mission


  Principles

# Question 7

In [18]:
#Import beautifulSoup libraries

import requests
import urllib
from bs4 import BeautifulSoup

#define function for webscrape
def webdir():  
    url = ('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html')
    thepage = requests.get('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html')
    soup = BeautifulSoup(thepage.text, "html.parser")
    return soup.text


print(webdir())

HTTP Status 404 – Not FoundHTTP Status 404 – Not FoundType Status ReportMessage The requested resource [/lperkovic/csc242/test1.html] is not availableDescription The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.Apache Tomcat/9.0.50

# Question 8

In [21]:
#First we install ipython Sql

!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\aogun\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\aogun\anaconda3\lib\site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in c:\users\aogun\anaconda3\lib\site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\aogun\anaconda3\lib\site-packages (from ipython-sql) (2.0.27)
Requirement already satisfied: sqlparse in c:\users\aogun\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\aogun\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\aogun\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\aogun\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\aogun\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\aogun\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\aogun\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\aogun\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\aogun\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\aogun\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\aogun\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\aogun\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\aogun\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\aogun\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\aogun\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\aogun\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\aogun\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\aogun\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\aogun\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\aogun\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [22]:
# After installing, we activate it and load it
%reload_ext sql

In [23]:
#Select sqlite
%sql sqlite://

In [24]:
%%sql
CREATE TABLE weather
(
city varchar(20),
country varchar(20),
season varchar(20),
temperature float,
rainfall float
);

 * sqlite://
Done.

[]

In [44]:
%%sql
INSERT INTO weather VALUES
('Mumbai', 'India', 'Winter', 24.8,5.9),
('Mumbai', 'India', 'Spring', 28.4,16.2),
('Mumbai', 'India', 'Summer', 27.9,1549.4),
('Mumbai', 'India', 'Fall', 27.6,346.0),
('London', 'United kingdom', 'Winter', 4.2,207.7),
('London', 'United kingdom', 'Spring', 8.3,169.6),
('London', 'United kingdom','Summer', 15.7,157.0),
('London', 'United kingdom','Fall', 10.4,218.5),
('Cairo', 'Egypt','Winter', 13.6,16.5),
('Cairo', 'Egypt', 'Spring', 20.7,6.5),
('Cairo', 'Egypt', 'Summer', 27.7,0.1),
('Cairo', 'Egypt', 'Fall', 22.2,4.5);

 * sqlite://
12 rows affected.

[]

In [28]:
%%sql
select * from weather;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

## Question 8a

In [30]:

%%sql
select temperature from weather;

 * sqlite://
Done.

[(24.8,),
 (24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

# Question 8b
All the cities, but without repetition.

In [31]:
%%sql
select distinct city from weather;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

# Question 8c
All the records for India.

In [32]:
%%sql
select * from weather where country =='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

# Question 8d
All the Fall records.

In [33]:
%%sql
select * from weather where season == 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# Question 8e
The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

In [34]:
%%sql
select city, country, season from weather where rainfall between 200 and 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United kingdom', 'Winter'),
 ('London', 'United kingdom', 'Fall')]

# Question 8f
The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

In [35]:
%%sql
select city, country from weather where season == 'Fall' and temperature > 20 order by temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

# Question 8G
The total annual rainfall for Cairo.

In [36]:
%%sql
select sum(rainfall) AS annual_rainfall from weather where city == 'Cairo';

 * sqlite://
Done.

[(27.6,)]

# Question 8H
The total rainfall for each season

In [47]:
%%sql
select season, sum(rainfall) AS annual_rainfall from weather group by season;

 * sqlite://
Done.

[('Fall', 1138.0),
 ('Spring', 384.59999999999997),
 ('Summer', 3413.0),
 ('Winter', 466.1)]

# Question 9

In [38]:
#Create a list for the words 
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [39]:
print([x.upper() for x in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [40]:
print([x.lower() for x in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [41]:
print([len(x) for x in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [42]:
print([[x.upper(), x.lower(), len(x)] for x in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [43]:
print([x for x in words if len(x)>=4])

['quick', 'brown', 'jumps', 'over', 'lazy']